

.Omega {
    width: 71px;
    height: 28px;
    margin: 0 41px 0 0;
    font-family: CircularStd;
    font-size: 21.6px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.68px;
    color: #19191b;
  }

  .Demos-Pages-Support {
    width: 195px;
    height: 18px;
    margin: 6px 0 4px 41px;
    font-family: CircularStd;
    font-size: 14.4px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.45px;
    text-align: right;
    color: #19191b;
  }
  .Demos-Pages-Support .text-style-1 {
    color: #f04037;
  }
  
  .Bring-more-leads-for {
    width: 482px;
    height: 126px;
    margin: 0 7px 26px 0;
    font-family: CircularStd;
    font-size: 54px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -1.69px;
    color: #19191b;
  }
  .Oval {
    width: 171px;
    height: 171px;
    margin: 46px 221px 162px 30px;
    object-fit: contain;
    box-shadow: 0 47px 49px 0 rgba(65, 62, 101, 0.3);
    border: solid 8.1px #ffffff;
  }
  .Create-custom-landin {
    width: 482px;
    height: 105px;
    margin: 26px 4px 36px 3px;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: -0.59px;
    color: #696871;
  }
  .Landing-2 {
    width: 1440px;
    height: 5382px;
    padding: 0 0 103px;
    background-color: #ffffff;
  }
  .Rectangle {
    width: 485px;
    height: 64px;
    padding: 5px 5px 5px 18px;
    border-radius: 9px;
    border: solid 0.9px #eae9f2;
    background-color: #ffffff;
  }
  .BG {
    width: 180px;
    height: 54px;
    margin: 0 0 0 150px;
    padding: 15px 43px 15px 42px;
    border-radius: 4.5px;
    border: solid 0.9px #c31a12;
    background-color: #f04037;
  }
  .Get-Started {
    width: 95px;
    height: 24px;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    text-align: center;
    color: #ffffff;
  }
  .Email-address {
    width: 95px;
    height: 20px;
    margin: 18px 150px 16px 19px;
    font-family: CircularStd;
    font-size: 16.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.51px;
    color: #696871;
  }
  .email-84 {
    width: 18px;
    height: 15px;
    margin: 21px 19px 18px 0;
    object-fit: contain;
  }
  .Oval-Copy {
    width: 189px;
    height: 189px;
    margin: 162px 0 0 221px;
    padding: 26px 19px 29px 20px;
    box-shadow: 0 47px 49px 0 rgba(65, 62, 101, 0.3);
    background-color: #5454d4;
  }
  
  .Path {
    width: 20px;
    height: 25px;
    object-fit: contain;
    background-color: #ffffff;
  }
  .Conversion {
    width: 150px;
    height: 24px;
    margin: 66px 0 0;
    font-family: CircularStd;
    font-size: 18.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.59px;
    text-align: center;
    color: #ffffff;
  }
  .thirtyNine {
    width: 118px;
    height: 81px;
    margin: 37px 12px 16px 20px;
    font-family: CircularStd;
    font-size: 63px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -1.97px;
    text-align: center;
    color: #ffffff;
  }
  